<h1>Flex</h1>

<div class="flex align-start flex-wrap">
    <div class="box w-64">
        <div class="box-title">Flex direction</div>
        <div class="box-list">
            <div>.flex-row</div>
            <div>.flex-row-reverse</div>
            <div>.flex-column</div>
            <div>.flex-column-reverse</div>
        </div>
    </div>

    <div class="box w-64">
        <div class="box-title">Flex wrap</div>
        <div class="box-list">
            <div>.flex-no-wrap</div>
            <div>.flex-wrap</div>
            <div>.flex-wrap-reverse</div>
        </div>
    </div>

    <div class="box w-64">
        <div class="box-title">Flex justify-content</div>
        <div class="box-list">
            <div>.justify-start</div>
            <div>.justify-center</div>
            <div>.justify-end</div>
            <div>.justify-between</div>
            <div>.justify-around</div>
        </div>
    </div>

    <div class="box w-64">
        <div class="box-title">Flex align-items</div>
        <div class="box-list">
            <div>.align-start</div>
            <div>.align-center</div>
            <div>.align-end</div>
            <div>.align-baseline</div>
            <div>.align-stretch</div>
        </div>
    </div>

    <div class="box w-64">
        <div class="box-title">Flex align-content</div>
        <div class="box-list">
            <div>.content-start</div>
            <div>.content-center</div>
            <div>.content-end</div>
            <div>.content-between</div>
            <div>.content-around</div>
            <div>.content-stretch</div>
        </div>
    </div>

    <div class="box w-64">
        <div class="box-title">Flex order</div>
        <div class="box-list">
            <div>.order-first</div>
            <div>.order-last</div>
            <div>.order-none</div>
            {% for i in range(1, 10) %}
            <div>.order-{{ i }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="box w-64">
        <div class="box-title">Flex grow</div>
        <div class="box-list">
            <div>.flex-grow</div>
            <div>.flex-grow-0</div>
        </div>
    </div>


    <div class="box w-64">
        <div class="box-title">Flex shrink</div>
        <div class="box-list">
            <div>.flex-shrink</div>
            <div>.flex-shrink-0</div>
        </div>
    </div>


    <div class="box w-64">
        <div class="box-title">Flex</div>
        <div class="box-list">
            <div>.flex-initial</div>
            <div>.flex-1</div>
            <div>.flex-auto</div>
            <div>.flex-none</div>
        </div>
    </div>


    <div class="box w-64">
        <div class="box-title">Flex align-self</div>
        <div class="box-list">
            <div>.slef-start</div>
            <div>.self-center</div>
            <div>.self-end</div>
            <div>.self-baseline</div>
            <div>.self-strentch</div>
            <div>.self-auto</div>
        </div>
    </div>
</div>