<h1>Leading height</h1>

<div class="box w-64">
    <div class="box-list">
        <div>.leading-none</div>
        <div>.leading-tight</div>
        <div>.leading-snug</div>
        <div>.leading-normal</div>
        <div>.leading-relaxed</div>
        <div>.leading-loose</div>
    </div>
</div