{% macro margin(nagetive=false, direction='') %}
    <div class="box-list">
    {% set d = ['.m', direction].join('-') if direction else '.m' %}
    {% if not nagetive %}
        {% for i in range(0, 6) %}
            <div>{{ [d, i].join('-') }}</div>
        {% endfor %}
        {% for i in range(3, 7) %}
            <div>{{ [d, i * 2].join('-') }}</div>
        {% endfor %}
        {% for i in range(4, 7) %}
            <div>{{ [d, i * 4].join('-') }}</div>
        {% endfor %}
        {% for i in range(4, 9) %}
            <div>{{ [d, i * 8].join('-') }}</div>
        {% endfor %}
            <div>{{ [d, 'px'].join('-') }}</div>
            <div>{{ [d, 'auto'].join('-') }}</div>
        </div>
    {% else %}
        {% set d = ['.m', direction, 'n'].join('-') if direction else '.m-n' %}
        {% for i in range(1, 6) %}
            <div>{{ [d, i].join('-') }}</div>
        {% endfor %}
        {% for i in range(3, 7) %}
            <div>{{ [d, i * 2].join('-') }}</div>
        {% endfor %}
        {% for i in range(4, 7) %}
            <div>{{ [d, i * 4].join('-') }}</div>
        {% endfor %}
        {% for i in range(4, 9) %}
            <div>{{ [d, i * 8].join('-') }}</div>
        {% endfor %}
            <div>{{ [d, 'px'].join('-') }}</div>
        </div>
    {% endif %}
{% endmacro %}

<h1>Margin</h1>
<div class="flex flex-wrap justify-start align-start">
    <div class="box w-64">
        <h1 class="box-title">Margin</h1>
        <div class="list-group">
            {{ margin() }}
            {{ margin(nagetive=true)}}
        </div>
    </div>
    <div class="box w-64">
        <div class="box-title">Margin left and right</div>
        <div class="list-group">
            {{ margin(direction='x') }}
            {{ margin(nagetive=true, direction='x') }}
        </div>
    </div>
    <div class="box w-64">
        <div class="box-title">Margin top and bottom</div>
        <div class="list-group">
            {{ margin(direction='y') }}
            {{ margin(nagetive=true, direction='y') }}
        </div>
    </div>
    <div class="box w-64">
        <div class="box-title">Margin top</div>
        {{ margin(direction='x') }}
    </div>
    <div class="box w-64">
        <div class="box-title">Margin top</div>
        {{ margin(nagetive=true, direction='x') }}
    </div>
    <div class="box w-64">
        <div class="box-title">Margin right</div>
        {{ margin(direction='r') }}
    </div>
    <div class="box w-64">
        <div class="box-title">Margin right</div>
        {{ margin(nagetive=true, direction='r') }}
    </div>
    <div class="box w-64">
        <div class="box-title">Margin bottom</div>
        <div class="list-group">
            {{ margin(direction='b') }}
            {{ margin(nagetive=true, direction='b' )}}
        </div>
    </div>
    <div class="box w-64">
        <div class="box-title">Margin left</div>
        <div class="list-group">
            {{ margin(direction='l') }}
            {{ margin(nagetive=true, direction='l' )}}
        </div>
    </div>
</div>