<h1>Radius</h1>

<div class="flex flex-wrap f-s-xs p-b-2">
{% for i in range(0, 26) %}
    <div class="w-24 h-24 b-1 c-bg-gray-200 r-{{ i }} m-r-2 flex justify-center align-center m-t-2">
    .r-{{ i }}
    </div>
{% endfor %}
    <div class="w-24 h-24 b-1 c-bg-gray-200 r-full flex justify-center align-center m-t-2">
        .r-full
    </div>
</div>