<h1>Text</h1>

<h2>Text decoration</h2>
<div class="box w-64">
    <div class="box-list">
        <div>.text-decoration</div>
        <div>.text-line-through</div>
        <div>.text-no-underline</div>
    </div>
</div>

<h2>Text align</h2>
<div class="box w-64">
    <div class="box-list">
        <div>.text-center</div>
        <div>.text-left</div>
        <div>.text-right</div>
        <div>.text-justify</div>
    </div>
</div>